{
  "openapi": "3.0.3",
  "info": {
    "title": "AMPLIFY Transfer CFT API v1.7",
    "description": "- New features in v1.7\n  - Improved OpenAPI definitions\n    - Added operid on all requests\n    - Use of \"oneOf\" for cftprot, cftcom and cftaccnt objects\n  - New query parameters for \"Get /transfers\"\n  - New CFTUIPREF object (experimental)\n- New features in v1.6\n  - Reconfig commands added\n  - Act/inact action on objects CFTPART, CFTFOLDER, CFTRON\n- New features in v1.5\n  - PKI Administration commands\n  - Multi-node commands\n  - New Parameters for CFTCOM, CFTSEND, CFTFOLDER\n- New features in v1.4\n  - Administration commands\n  - CFTIDF and CFTXLATE objects (Miscellaneous)\n  - Login/Logout (Miscellaneous)\n  - Bearer authentication",
    "version": "1.7.0",
    "x-audience": "axway-customer",
    "x-api-id": "ff04f643-16f3-4a6e-a9b7-9e24f9bc854c",
    "contact": {
      "email": "support@axway.com"
    },
    "license": {
      "name": "Copyright Axway 2021. All rights reserved."
    }
  },
  "servers": [
    {
      "url": "https://ptx140.demo.axway.com:2768/cft/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Transfers",
      "description": "Manages transfers"
    },
    {
      "name": "Logs",
      "description": "Displays the log"
    },
    {
      "name": "Access Management",
      "description": "Manages role and privilege definitions"
    },
    {
      "name": "Flows",
      "description": "Manages flow-related definitions"
    },
    {
      "name": "General Parameters",
      "description": "Manages general settings"
    },
    {
      "name": "Partners",
      "description": "Manages partner definitions"
    },
    {
      "name": "PKI",
      "description": "Manages Transfer CFT PKI database"
    },
    {
      "name": "Networks and Protocols",
      "description": "Manages network and protocol definitions"
    },
    {
      "name": "Administration",
      "description": "Administration operations"
    },
    {
      "name": "Miscellaneous",
      "description": "Other operations"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/about": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Gets the version of Transfer CFT  (experimental).",
        "operationId": "AboutGet",
        "description": "Get the version of Transfer CFT",
        "responses": {
          "200": {
            "description": "Informations about Transfer CFT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "the version of CFT"
                    },
                    "level": {
                      "type": "string",
                      "description": "the level of CFT, SP and patch"
                    },
                    "system": {
                      "type": "string",
                      "description": "System running CFT"
                    },
                    "server_time": {
                      "type": "string",
                      "description": "Local time on CFT server"
                    },
                    "server_utc": {
                      "type": "string",
                      "description": "UTC Timezone on CFT server"
                    },
                    "multinode_enabled": {
                      "type": "boolean",
                      "description": "CFT is in mutinode mode"
                    },
                    "cg_enabled": {
                      "type": "boolean",
                      "description": "CFT is controlled by CG"
                    },
                    "ui_readonly": {
                      "type": "boolean",
                      "description": "Indicate if CFT UI allow command others than view or CFT objects definitions."
                    },
                    "instance_id": {
                      "type": "string",
                      "description": "The instance ID of CFT"
                    },
                    "user_name": {
                      "type": "string",
                      "description": "Name of connected user"
                    }
                  },
                  "example": {
                    "version": "3.8",
                    "level": "",
                    "system": "unix",
                    "server_time": "1526301034000",
                    "server_utc": "2",
                    "multinode_enabled": false,
                    "cg_enabled": false,
                    "ui_readonly": true,
                    "instance_id": "workstationaddress",
                    "user_name": "johndoe"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Retrieves a list of log messages",
        "operationId": "LogsGet",
        "description": "Retrieves a list of log messages",
        "parameters": [
          {
            "name": "severity",
            "in": "query",
            "description": "Severity of the log to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 1,
              "enum": [
                "F",
                "E",
                "W",
                "I"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of lines to display  (entering zero uses the default value)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000,
              "default": 10000
            }
          },
          {
            "name": "datetimemin",
            "in": "query",
            "description": "Use to display logs that happened on or after this start date and time YYYY-MM-DDThh:mm:ssZ",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "minLength": 20,
              "maxLength": 20
            }
          },
          {
            "name": "datetimemax",
            "in": "query",
            "description": "Use to display logs that happened on or before this end date and time YYYY-MM-DDThh:mm:ssZ",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "minLength": 20,
              "maxLength": 20
            }
          },
          {
            "name": "pattern",
            "in": "query",
            "description": "Only displays the log lines that match this specific pattern ; enter any pattern with a maximum of 63 characters",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 63
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of log messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "node": {
                            "type": "string",
                            "description": "the Transfer CFT node"
                          },
                          "severity": {
                            "type": "string",
                            "description": "message severity"
                          },
                          "code": {
                            "type": "string",
                            "description": "message code"
                          },
                          "date": {
                            "type": "string",
                            "description": "message type"
                          },
                          "message": {
                            "type": "string",
                            "description": "the message"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Retrieves a list of transfers",
        "operationId": "TransfersGet",
        "description": "<p>\n  Retrieves a list of transfers.\n  <br>\n  If no fields are given in the request, the default value for the field is still sent by the server.\n  <br>\n  numberOfSelectedRecords count specifies the number of transfers corresponding to the selection.\n  <br>\n  numberOfUsedRecords count specifies the number of transfers currently present in the catalog.\n  <br>\n  The model below represents the response when the default fields are selected. Any field which appears in the get/idtu response can be selected.\n</p>",
        "parameters": [
          {
            "name": "ida",
            "in": "query",
            "description": "Transfer-related identifier.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "idtu",
            "in": "query",
            "description": "Transfer ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "[A-Z][A-Z0-9]{7}",
              "minLength": 8,
              "maxLength": 8
            }
          },
          {
            "name": "idt",
            "in": "query",
            "description": "Protocol transfer ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "[A-Z][0-9]{7}",
              "minLength": 8,
              "maxLength": 8
            }
          },
          {
            "name": "nidt",
            "in": "query",
            "description": "Network protocol transfer ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "[A-Z][0-9]{7}",
              "minLength": 8,
              "maxLength": 8
            }
          },
          {
            "name": "part",
            "in": "query",
            "description": "Partner associated with the transfer.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "idf",
            "in": "query",
            "description": "Flow ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "phase",
            "in": "query",
            "description": "Transfer phase.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "T",
                "Y",
                "Z",
                "X"
              ],
              "minLength": 1,
              "maxLength": 1
            }
          },
          {
            "name": "phasestep",
            "in": "query",
            "description": "Transfer phasestep.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "D",
                "C",
                "E",
                "K",
                "H",
                "X"
              ],
              "minLength": 1,
              "maxLength": 1
            }
          },
          {
            "name": "diagi",
            "in": "query",
            "description": "Diagnostic code selection (Default None)\n- 0 Only sucessfull transfers\n- -1 Only transfers in error\n- nnn Transfers in error with the specified code",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": -1,
              "maximum": 999
            }
          },
          {
            "name": "suser",
            "in": "query",
            "description": "The user who is sending the file.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "ruser",
            "in": "query",
            "description": "The user who is receiving the file.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "direct",
            "in": "query",
            "description": "Transfer direction.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "BOTH",
                "SEND",
                "RECV"
              ]
            }
          },
          {
            "name": "sentinel",
            "in": "query",
            "description": "Use to select the transfers whose Sentinel state coresponds to one the following values:          \n-  TO_EXECUTE, CREATED, SENDING, RECEIVING, SENT, RECEIVED\n-  ACKED,  NACKED, ENDED_TO_ACK, ENDED_TO_NACK, TO_ROUTE\n-  CONSUMED, CANCELED, SUSPENDED, INTERRUPTED\n-  PRE_PROC, PRE_PROC_ABORT,\n-  POST_PROC, POST_PROC_ABORT, POST_PROC_ACK, POST_PROC_ACK_ABORT\n-  AVAILABLE, ACK_EXPECTED, COMPLETED, ROUTED            ",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 30,
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "datetimemin",
            "in": "query",
            "description": "Use to select the transfers created on or after this start date and time.\nTwo formats are accepted\n- absolute, format is the standard date-time\n\n  ex 2021-01-31T23:10:50\n- relative to current date/time, format is -nn(t) where t is D(d)ays, M(m)inutes or H(h)ours. D is the default.\n\n  ex -30M for last 30 minutes",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 19
            }
          },
          {
            "name": "datetimemax",
            "in": "query",
            "description": "Use to select the transfers created on or before this end date and time.\nTwo formats are accepted\n- absolute, format is the standard date-time\n\n  ex 2021-01-31T23:10:50\n- relative to current date/time, format is -nn(t) where t is D(d)ays, M(m)inutes or H(h)ours. D is the default.\n\n  ex -30M for last 30 minutes",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 19
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Catalog offset.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transfers to return.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transfers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransferDetailsList"
                      }
                    },
                    "numberOfSelectedRecords": {
                      "type": "integer",
                      "description": "Number of selected catalog records."
                    },
                    "numberOfUsedRecords": {
                      "type": "integer",
                      "description": "Number of used records in the catalog file."
                    },
                    "numberOfRecords": {
                      "type": "integer",
                      "description": "Total number of records in the catalog file."
                    },
                    "offset": {
                      "type": "integer",
                      "description": "Catalog offset integer."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Retrieves a given transfer",
        "operationId": "TransferIdtuGet",
        "description": "Retrieves a given transfer.",
        "responses": {
          "200": {
            "description": "Transfer details upon successful query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "delete": {
        "tags": [
          "Transfers"
        ],
        "summary": "Deletes a given transfer",
        "operationId": "TransferIdtuDelete",
        "description": "Deletes a given transfer.",
        "responses": {
          "200": {
            "description": "Successfully deleted the transfer."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/halt": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Interrupts a given transfer",
        "operationId": "TransferIdtuHaltPut",
        "description": "Interrupts a given transfer. The interrupted transfer is set to H phasestep.",
        "responses": {
          "200": {
            "description": "Transfer interrupted."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/keep": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Suspends a given transfer",
        "operationId": "TransferIdtuKeepPut",
        "description": "Suspends a given transfer. The suspended transfer is set to K phasestep.",
        "responses": {
          "200": {
            "description": "Transfer suspended."
          },
          "202": {
            "description": "The command was accepted, but not executed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/start": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Restarts a given transfer",
        "operationId": "TransferIdtuRestartPut",
        "description": "Restarts a given transfer. Transfers in the H or K phasestep in the catalog change to the D phasestep after this command is executed.",
        "responses": {
          "200": {
            "description": "Transfer restarted."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Resumes a given transfer",
        "operationId": "TransferIdtuResumePut",
        "description": "Resumes a given transfer. This command retrieves, in server mode, a blocked send request that has a hold phasestep, and has a diagnostic codes other than zero.",
        "responses": {
          "200": {
            "description": "Resumed transfer."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/submit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Submits a processing procedure for a given transfer",
        "operationId": "TransferIdtuSubmitPut",
        "description": "Submits a processing procedure for a given transfer. <br> You can start, or restart, this procedure when the file or message transfer is in the T phasestep. <br> This command has no effect on transfers belonging to a broadcasting list, even if these transfers are in the T phasestep. <br> Alternatively, it can be applied to a generic transfer, whose PART parameter equals the broadcasting list identifier, when it is in the T phasestep.",
        "responses": {
          "200": {
            "description": "Submitted procedure."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/ack": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Acknowledges a given transfer",
        "operationId": "TransferIdtuAckPut",
        "description": "Acknowledges a given transfer. This command initiates the sending of a positive acknowledgement to the remote partner. <br> You MUST provide the MSG field in the body.",
        "parameters": [
          {
            "name": "idm",
            "in": "query",
            "description": "Message identifier.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "requestBody": {
          "description": "Transfer parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequestSendReplyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Acknowledged the transfer."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/nack": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Acknowledges negatively a given transfer",
        "operationId": "TransferIdtuNackPut",
        "description": "Negatively acknowledges a given transfer. This command initiates the sending of a negative acknowledgement to the remote partner. <br> You MUST provide the MSG field in the body.",
        "parameters": [
          {
            "name": "idm",
            "in": "query",
            "description": "Message identifier.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "requestBody": {
          "description": "Transfer parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequestSendNackBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Completed negative acknowledgement."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/{idtu}/end": {
      "parameters": [
        {
          "$ref": "#/components/parameters/idtu"
        }
      ],
      "put": {
        "tags": [
          "Transfers"
        ],
        "summary": "Ends a given transfer",
        "operationId": "TransferIdtuEndPut",
        "description": "Ends a given transfer.",
        "requestBody": {
          "description": "Transfer parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequestEndBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Ended transfer."
          },
          "202": {
            "description": "The command was accepted, but not executed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/files/outgoings": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Creates a new send file transfer request",
        "operationId": "TransferFilesOutgoingPost",
        "description": "Creates a new send file transfer request <br> If the IDA is not given in the request, it is generated by the server and returned if the operation is successful (code 201) or accepted (code 202).",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "description": "Partner.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "idf",
            "in": "query",
            "description": "Flow ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "apitimeout",
            "in": "query",
            "description": "Command timeout.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": -1,
              "maximum": 120
            }
          }
        ],
        "requestBody": {
          "description": "Send transfer request parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequestSendFileBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The transfer is a duplicate, but as DACTION parameter was set to RESUME the request is valid but no new entry is added in the catalog. The body response contains the original transfer information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "201": {
            "description": "Return transfer information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted, but processing not complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/files/incomings": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Creates a new receive file transfer request",
        "operationId": "TransferFilesIncomingPost",
        "description": "Creates a new receive file transfer request. <br> If the IDA is not given in the request, it is generated by the server and returned if operation is successful (code 201) or accepted (code 202).",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "description": "Partner.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "idf",
            "in": "query",
            "description": "Flow ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "apitimeout",
            "in": "query",
            "description": "Command timeout.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": -1,
              "maximum": 120
            }
          }
        ],
        "requestBody": {
          "description": "Receive transfer request parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequestReceiveFileBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Transfer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted, but processing not completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/transfers/messages": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Creates a new message transfer request",
        "operationId": "TransferMessagesPost",
        "description": "Creates a new message transfer request. <br> If the IDA is not given in the request, it is generated by the server and returned if operation is successful (code 201) or accepted (code 202). <br> You MUST provide the MSG field in the body.",
        "parameters": [
          {
            "name": "part",
            "in": "query",
            "description": "Partner.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "idm",
            "in": "query",
            "description": "Message ID.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "apitimeout",
            "in": "query",
            "description": "Command timeout.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": -1,
              "maximum": 120
            }
          }
        ],
        "requestBody": {
          "description": "Message transfer request parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequestSendMessageBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Transfer details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted, but processing not completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferRequestResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Retrieves all Transfer CFT configuration objects.",
        "operationId": "ObjectsGet",
        "description": "Retrieves all Transfer CFT configuration objects.",
        "parameters": [
          {
            "$ref": "#/components/parameters/selectanyid"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "links": {
                      "$ref": "#/components/schemas/ObjectSelfLinks"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "type",
                          "id",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "$ref": "#/components/schemas/CftEnumObjectsType"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/CftEnumObjectsTypeSchema"
                          },
                          "links": {
                            "$ref": "#/components/schemas/ObjectSelfLinks"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftuconf": {
      "get": {
        "tags": [
          "General Parameters"
        ],
        "summary": "Retrieves a list of cftuconf parameters.",
        "operationId": "ObjectsCftuconfGet",
        "description": "Retrieves a list of cftuconf parameters.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Uconf parameter ID.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Filter according to the UCONF setting.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "USER",
                "DEFAULT"
              ]
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "Information details.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "BRIEF",
                "FULL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of cftuconf parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftuconfList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftuconf/{uconfid}": {
      "parameters": [
        {
          "name": "uconfid",
          "in": "path",
          "description": "Uconf parameter ID.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          }
        }
      ],
      "get": {
        "tags": [
          "General Parameters"
        ],
        "summary": "Retrieves the cftuconf parameter.",
        "operationId": "ObjectsCftuconfIdGet",
        "description": "Retrieves the cftuconf parameter.",
        "responses": {
          "200": {
            "description": "cftuconf parameter details upon successful query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftuconfGet"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "put": {
        "tags": [
          "General Parameters"
        ],
        "summary": "Modifies the cftuconf parameter.",
        "operationId": "ObjectsCftuconfIdPut",
        "description": "Modifies the cftuconf parameter.",
        "requestBody": {
          "description": "cftuconf object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cftuconf"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftObjectUconfId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCftuconfSet"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "cftuconf parameter details upon successful modification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftuconfGet"
                }
              }
            }
          },
          "201": {
            "description": "cftuconf parameter details upon successful creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftuconfGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "delete": {
        "tags": [
          "General Parameters"
        ],
        "summary": "Resets the parameter to the default value.",
        "operationId": "ObjectsCftuconfIdDelete",
        "description": "Resets the parameter to the default value.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ObjectDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/state": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Transfer CFT Status",
        "operationId": "CftStateGet",
        "description": "Transfer CFT Status",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CftCmdStateDetails"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Transfer CFT not running."
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/start": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Starts Transfer CFT",
        "operationId": "CftStartPut",
        "description": "Starts Transfer CFT",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/stop": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Stops the Transfer CFT",
        "operationId": "CftStopPut",
        "description": "Stop Transfer CFT. Transfers in progress are stopped.",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/restart": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Stops and restarts the Transfer CFT",
        "operationId": "CftRestartPut",
        "description": "Stops and restarts the Transfer CFT",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Lists the Transfer CFT nodes",
        "operationId": "CftNodesGet",
        "description": "Lists the Transfer CFT nodes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CftCmdNodesList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Transfer CFT not running."
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "post": {
        "tags": [
          "Administration"
        ],
        "summary": "Adds a new Transfer CFT node (multinode instance only)",
        "operationId": "CftNodesPost",
        "description": "Adds a new Transfer CFT node (multinode instance only)",
        "responses": {
          "200": {
            "description": "new Node added."
          },
          "201": {
            "$ref": "#/components/responses/CftCmdNodeDetails"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeid"
        }
      ],
      "delete": {
        "tags": [
          "Administration"
        ],
        "summary": "Deletes the node (multinode instance only)",
        "operationId": "CftNodesIdDelete",
        "description": "Remove a node, the node must be stopped first and then disabled.",
        "responses": {
          "200": {
            "description": "Node Deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes/{id}/disable": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeid"
        }
      ],
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Disables node (multinode instance only)",
        "operationId": "CftNodesIdDisablePut",
        "description": "Disables node (multinode instance only)",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes/{id}/enable": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeid"
        }
      ],
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Enables node (multinode instance only)",
        "operationId": "CftNodesIdEnablePut",
        "description": "Enables node (multinode instance only)",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes/{id}/start": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeid"
        }
      ],
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Starts the node (multinode instance only)",
        "operationId": "CftNodesIdStartPut",
        "description": "Starts the node (multinode instance only)",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes/{id}/stop": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeid"
        }
      ],
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Stops the node (multinode instance only)",
        "operationId": "CftNodesIdStopPut",
        "description": "Stop the node. Transfers in progress are stopped.",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/nodes/{id}/restart": {
      "parameters": [
        {
          "$ref": "#/components/parameters/nodeid"
        }
      ],
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Stops and restarts the node (multinode instance only)",
        "operationId": "CftNodesIdRestartPut",
        "description": "Stops and restarts the node (multinode instance only)",
        "responses": {
          "202": {
            "description": "Command in progress."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/hosts": {
      "get": {
        "tags": [
          "Administration"
        ],
        "summary": "Lists the hostnames",
        "operationId": "CftHostsGet",
        "description": "List the hostnames on which the Transfer CFT nodes may run.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CftCmdHostsList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Transfer CFT not running."
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "post": {
        "tags": [
          "Administration"
        ],
        "summary": "Adds a new hostname (multinode instance only)",
        "operationId": "CftHostsPost",
        "description": "Add a new host on which the Transfer CFT nodes may run.",
        "requestBody": {
          "description": "Host request parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CftCmdNewHostDetails"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "New hostname added."
          },
          "201": {
            "$ref": "#/components/responses/CftCmdHostDetails"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/hosts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/hostid"
        }
      ],
      "delete": {
        "tags": [
          "Administration"
        ],
        "summary": "Removes a hostname (multinode instance only)",
        "operationId": "CftHostsIdDelete",
        "description": "Removes a hostname. Transfer CFT nodes can no longer run on the host.",
        "responses": {
          "200": {
            "description": "Host Deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/reconfig/am": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Reloads security roles and privileges.",
        "operationId": "CftReconfigAmPut",
        "description": "The security roles and privileges are reloaded by the server.\n",
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/reconfig/cron": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Reloads CFTCRON objects.",
        "operationId": "CftReconfigCronPut",
        "description": "<p>The server reloads the active CFTCRON objects. You must execute this command if a CFTCRON object has been modified by:</p>\n<ul>\n<li>Inserting a new cronjob (with a CRONTAB value that matches the CRONTABS list)</li>\n<li>Deleting a new cronjob</li>\n<li>Modifying a cronjob</li>\n</ul>\n<p>Messages are then displayed in the log (CFTI36I and CFTI37I)</p>\n",
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/reconfig/folder": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Reloads CFTFOLDER objects.",
        "operationId": "CftReconfigFolderPut",
        "description": "The server reloads the active CFTFOLDER objects.\n",
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/reconfig/parmcache": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Reloads cft objects cache.",
        "operationId": "CftReconfigParmcachePut",
        "description": "Clear the dynamic objects cache while Transfer CFT is running.\\\nAfter the command execution, all changes applied to dynamic objects are taken into account, without restarting Transfer CFT.\n",
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/reconfig/uconf": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Reloads UCONF reconfigurable parameters.",
        "operationId": "CftReconfigUconfPut",
        "description": "The UCONF reconfigurable parameters are reloaded.\\\nMessages are then displayed in the log (CFTS43I).\\\nNote that only the UCONF parameters flagged with RECONFIG/IRECONFIG are affected.\n",
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/cft/container/export": {
      "put": {
        "tags": [
          "Administration"
        ],
        "summary": "Dump the databases. (experimental)",
        "operationId": "CftContainerExportPut",
        "description": "In the container deployment context this service allows to dump the databases prior to upgrade the Transfer CFT service.",
        "responses": {
          "200": {
            "description": "Databases successfully exported."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Login",
        "operationId": "loginPost",
        "description": "Log on the API server and receive a session token that is used by the Transfer CFT Web-based UI.\\\nThis resource is reserved for the Transfer CFT Web-based UI.\\\nAs an application, you must use an API token instead of a session token.\\\nFor application authentication, please refer to the Client Authentication topic in the User Guide, or refer to the /objects/cfttoken resource.",
        "responses": {
          "200": {
            "description": "Login Information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftLoginDetails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Logout.",
        "operationId": "LogoutGet",
        "description": "Close the current session with the API server.\\\nThe session token becomes invalid and cannot be used for future calls.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ObjectDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftpart": {
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Retrieves the partner lists",
        "operationId": "BUILD_ObjectsCftpartGet",
        "description": "<p>\nRetrieves a list of CFTPART objects.\n</p>",
        "parameters": [
          {
            "$ref": "#/components/parameters/selectpartid"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of cftpart",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftpartList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "Adds a new partner",
        "operationId": "BUILD_ObjectIdCftpartPost",
        "description": "Adds a new CFTPART object.",
        "requestBody": {
          "description": "cftpart object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cftpart"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftPartnerId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCftpartAttributes"
                  }
                },
                "example": {
                  "id": "paris",
                  "type": "cftpart",
                  "attributes": {
                    "prot": [
                      "pesit"
                    ],
                    "comment": "Definition sample",
                    "idf": "txt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "cftpart details upon successful creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftpartGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftpart/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/objectpartid"
        }
      ],
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Retrieves a specific partner definition",
        "operationId": "BUILD_ObjectsIdCftpartGet",
        "description": "<p>\nRetrieves a specific CFTPART object.\n</p>",
        "responses": {
          "200": {
            "description": "cftpart details upon successful query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftpartGet"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "Adds or modifies a partner definition.",
        "operationId": "BUILD_ObjectIdCftpartPut",
        "description": "Adds or modifies a partner definition.",
        "requestBody": {
          "description": "cftpart object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cftpart"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftPartnerId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCftpartAttributes"
                  }
                },
                "example": {
                  "id": "paris",
                  "type": "cftpart",
                  "attributes": {
                    "prot": [
                      "pesit"
                    ],
                    "comment": "Definition sample",
                    "idf": "txt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "cftpart details upon successful modification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftpartGet"
                }
              }
            }
          },
          "201": {
            "description": "cftpart details upon successful creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftpartGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "delete": {
        "tags": [
          "Partners"
        ],
        "summary": "Deletes a partner definition",
        "operationId": "BUILD_ObjectIdCftpartDelete",
        "description": "Deletes a CFTPART object.\nThis operation deletes all existing TCP definitions related to the partner to delete.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ObjectDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftpart/{id}/act": {
      "parameters": [
        {
          "$ref": "#/components/parameters/objectpartid"
        }
      ],
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "Reactivates a partner definition.",
        "operationId": "ObjectsCftpartIdActPut",
        "description": "The ACT command cannot be applied to the partner if its definition was provided or modified by a directory EXIT.\nWhen the partner is reactivated, transfer requests that were suspended by the INACT command:\n- Are restarted automatically in requester mode (diagnostics code 430)\n- Must be restarted with the START command in all other cases",
        "requestBody": {
          "description": "Optional Parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CftObjectsCftPartActDetails"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Definition has status ACT."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftpart/{id}/inact": {
      "parameters": [
        {
          "$ref": "#/components/parameters/objectpartid"
        }
      ],
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "Deactivates a partner definition.",
        "operationId": "ObjectsCftpartIdInactPut",
        "description": "When a partner is deactivated, transfers awaiting processing are:\n- Suspended in requester mode\n- Refused in server mode\n\nThe state of a transfer request awaiting execution in **requester mode** for a deactivated partner remains **D**, with a diagnostic code **430** and a protocol diagnostic **INACT**.\\\nThe state of a transfer request awaiting execution in **server mode** for a deactivated partner remains **D**, with a diagnostic code **930** and a protocol diagnostic **RCO 312**, or **ABO 312** if the session is already open.\\\nThe state of transfers that are interrupted by an INACT command when *FORCE=YES* is **H**, with a diagnostic code **121** and a protocol diagnostic **OPER**.\\\nThis command cannot be applied to partners whose definition was provided or modified by a directory EXIT.\\\nA partner that has been deactivated by the INACT command can only be reactivated using the ACT command.",
        "requestBody": {
          "description": "Optional Parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CftObjectsCftPartInactDetails"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Definition has status INACT."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftpart/{partnerid}/tcp": {
      "parameters": [
        {
          "$ref": "#/components/parameters/partnerid"
        }
      ],
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Retrieves all partner TCP definitions\"",
        "operationId": "BUILD_ObjectsCfttcpGet",
        "description": "Retrieves all CFTTCP objects.",
        "parameters": [
          {
            "$ref": "#/components/parameters/selectclass"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of cfttcp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCfttcpList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "post": {
        "tags": [
          "Partners"
        ],
        "summary": "Adds a new TCP definition for a partner connection",
        "operationId": "BUILD_ObjectIdCfttcpPost",
        "description": "Adds a new TCP definition for a partner connection",
        "requestBody": {
          "description": "cfttcp object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cfttcp"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftTcpClassId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCfttcpAttributes"
                  }
                },
                "example": {
                  "type": "cfttcp",
                  "id": "1",
                  "attributes": {
                    "cnxin": 2,
                    "cnxout": 2,
                    "comment": "Default destination for the Paris office",
                    "host": [
                      "paris.office"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "cfttcp details upon successful creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCfttcpGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftpart/{partnerid}/tcp/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/partnerid"
        },
        {
          "$ref": "#/components/parameters/classid"
        }
      ],
      "get": {
        "tags": [
          "Partners"
        ],
        "summary": "Retrieves a specific partner TCP definition",
        "operationId": "BUILD_ObjectsIdCfttcpGet",
        "description": "Retrieves a specific partner TCP definition",
        "responses": {
          "200": {
            "description": "cfttcp details upon successful query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCfttcpGet"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "put": {
        "tags": [
          "Partners"
        ],
        "summary": "Adds or modifies a TCP definition for a partner connection",
        "operationId": "BUILD_ObjectIdCfttcpPut",
        "description": "Adds or modifies a TCP definition for a partner connection",
        "requestBody": {
          "description": "cfttcp object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cfttcp"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftTcpClassId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCfttcpAttributes"
                  }
                },
                "example": {
                  "type": "cfttcp",
                  "id": "1",
                  "attributes": {
                    "cnxin": 2,
                    "cnxout": 2,
                    "comment": "Default destination for the Paris office",
                    "host": [
                      "paris.office"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "cfttcp details upon successful modification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCfttcpGet"
                }
              }
            }
          },
          "201": {
            "description": "cfttcp details upon successful creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCfttcpGet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "delete": {
        "tags": [
          "Partners"
        ],
        "summary": "Deletes a TCP definition associated with a partner",
        "operationId": "BUILD_ObjectIdCfttcpDelete",
        "description": "Deletes a TCP definition associated with a partner",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ObjectDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftsend": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Retrieves a list of send transfer models",
        "operationId": "BUILD_ObjectsCftsendGet",
        "description": "Retrieves a list of CFTSEND object, where either impl=no (client or server mode) or impl=yes (server mode).",
        "parameters": [
          {
            "$ref": "#/components/parameters/selectid"
          }
        ],
        "responses": {
          "200": {
            "description": "The send transfer model type (cftsendno and cftsendyes).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "links": {
                      "$ref": "#/components/schemas/ObjectSelfLinks"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "type",
                          "id",
                          "attributes"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "cftsendno",
                              "cftsendyes"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/CftObjectsCftsendAttributes"
                          },
                          "links": {
                            "$ref": "#/components/schemas/ObjectSelfLinks"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "links": {
                    "self": "https://<hostname>:<restapi_port>/cft/api/v1/objects/cftsend"
                  },
                  "data": [
                    {
                      "type": "cftsendno",
                      "id": "sendanddelete",
                      "attributes": {
                        "delete": "YES",
                        "comment": "Send the file and delete the catalog record after completion",
                        "origin": "DESIGNER"
                      },
                      "links": {
                        "self": "https://<hostname>:<restapi_port>/cft/api/v1/objects/cftsend/implno/sendanddelete"
                      }
                    },
                    {
                      "type": "cftsendyes",
                      "id": "make_available",
                      "attributes": {
                        "fcode": "BINARY",
                        "frecfm": "F",
                        "faction": "NONE",
                        "STATE": "DISP",
                        "comment": "Make a file available when using Transfer CFT in server mode",
                        "origin": "DESIGNER"
                      },
                      "links": {
                        "self": "https://<hostname>:<restapi_port>/cft/api/v1/objects/cftsend/implyes/make_available"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftsend/implno": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Retrieves a list of send transfer models",
        "operationId": "BUILD_ObjectsCftsendnoGet",
        "description": "<p>\nRetrieves a list of CFTSEND objects.\n</p>",
        "parameters": [
          {
            "$ref": "#/components/parameters/selectid"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of cftsendno",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftsendListNo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Adds a new transfer model",
        "operationId": "BUILD_ObjectIdCftsendnoPost",
        "description": "Adds a new transfer model",
        "requestBody": {
          "description": "cftsendno object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cftsendno"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftObjectId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCftsendAttributes"
                  }
                },
                "example": {
                  "id": "sendanddelete",
                  "type": "cftsendno",
                  "attributes": {
                    "delete": "YES",
                    "comment": "Send the file and delete the catalog record after completion"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "cftsendno details upon successful creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftsendGetNo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      }
    },
    "/objects/cftsend/implno/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/objectid"
        }
      ],
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Retrieves a specific send transfer model",
        "operationId": "BUILD_ObjectsIdCftsendnoGet",
        "description": "<p>\n  Retrieves a specific CFTSEND object.\n</p>",
        "responses": {
          "200": {
            "description": "cftsendno details upon successful query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CftObjectsCftsendGetNo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFound"
          },
          "default": {
            "$ref": "#/components/responses/OtherError"
          }
        }
      },
      "put": {
        "tags": [
          "Flows"
        ],
        "summary": "Adds or modifies a transfer model",
        "operationId": "BUILD_ObjectIdCftsendnoPut",
        "description": "Adds or modifies a transfer model",
        "requestBody": {
          "description": "cftsendno object parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "id",
                  "attributes"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cftsendno"
                    ]
                  },
                  "id": {
                    "$ref": "#/components/schemas/CftObjectId"
                  },
                  "attributes": {
                    "$ref": "#/components/schemas/CftObjectsCftsendAttributes"
                  }
                },
                "example": {
                  "id": "sendanddelete",
                  "type": "cftsendno",
                  "attributes": {
                    "delete": "YES",
                    "comment": "Send the file and delete the catalog record after completion"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "cftsendno details upon successful modification",
            "content": {
              "application/json": {
                "schema": {
[...]
