{
	"openapi": "3.0.1",
	"info": {
		"title": "SecureTransport Administrator API v2.0",
		"contact": {
			"email": "support@axway.com"
		},
		"license": {
			"name": "Copyright Axway 2020. All rights reserved."
		},
		"version": "2.0.0"
	},
	"servers": [
		{
			"url": "https://ptx140.demo.axway.com:8443/api/v2.0"
		}
	],
	"tags": [
		{
			"name": "accountSetup"
		},
		{
			"name": "accounts"
		},
		{
			"name": "addressBook"
		},
		{
			"name": "administrativeRoles"
		},
		{
			"name": "administrators"
		},
		{
			"name": "applications"
		},
		{
			"name": "businessUnits"
		},
		{
			"name": "certificates"
		},
		{
			"name": "clusterServices"
		},
		{
			"name": "configurations"
		},
		{
			"name": "daemons"
		},
		{
			"name": "icapServers"
		},
		{
			"name": "ldapDomains"
		},
		{
			"name": "loginRestrictionPolicies"
		},
		{
			"name": "logs"
		},
		{
			"name": "mailTemplates"
		},
		{
			"name": "myself"
		},
		{
			"name": "routes"
		},
		{
			"name": "routeStepsMetadata"
		},
		{
			"name": "routeStepsCharsets"
		},
		{
			"name": "servers"
		},
		{
			"name": "sessions"
		},
		{
			"name": "sites"
		},
		{
			"name": "siteTemplates"
		},
		{
			"name": "statisticsSummary"
		},
		{
			"name": "subscriptions"
		},
		{
			"name": "transactionManager"
		},
		{
			"name": "transferProfiles"
		},
		{
			"name": "transfers"
		},
		{
			"name": "userClasses"
		},
		{
			"name": "version"
		},
		{
			"name": "zones"
		}
	],
	"paths": {
		"/cs/h2h/control/config": {
			"get": {
				"operationId": "getServerInfo_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/accounts": {
			"get": {
				"operationId": "getAccounts_1",
				"parameters": [
					{
						"name": "homeFolder",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "status",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createAccount_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseAccount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/accounts/{name}": {
			"get": {
				"operationId": "getAccount_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateAccount_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseAccount"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteAccount_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "purge",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "accountExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateAccount_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/icapServers": {
			"get": {
				"operationId": "getIcapServers_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createIcapServer_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalIcapServer"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/icapServers/{name}": {
			"get": {
				"operationId": "getIcapServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateIcapServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalIcapServer"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteIcapServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "icapServerExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateIcapServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/ldapDomains": {
			"get": {
				"operationId": "getLdapDomains_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createLdapDomain_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalLdapDomain"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/ldapDomains/{name}": {
			"get": {
				"operationId": "getLdapDomain_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateLdapDomain_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalLdapDomain"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteLdapDomain_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"head": {
				"operationId": "ldapExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateLdapDomain_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/ldapDomains/{name}/operations": {
			"post": {
				"operationId": "testConnection_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalLdapTestConnectionServer"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/applications": {
			"get": {
				"operationId": "getApplications_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createApplication_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseApplication"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/applications/{name}": {
			"get": {
				"operationId": "getApplication_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateApplication_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseApplication"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteApplication_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "applicationExist",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchApplication_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/businessUnits": {
			"get": {
				"operationId": "getBusinessUnits_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createBusinessUnit_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBusinessUnit"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/businessUnits/{name}": {
			"get": {
				"operationId": "getBusinessUnit_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateBusinessUnit_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBusinessUnit"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteBusinessUnit_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "businessUnitExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateBusinessUnit_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/certificates": {
			"get": {
				"operationId": "getCertificates_1",
				"parameters": [
					{
						"name": "type",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "usage",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "fingerprintAlgorithm",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "base64EncodedFingerprint",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "disableChaining",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "generateCertificate_1",
				"requestBody": {
					"content": {
						"multipart/mixed": {
							"schema": {
								"$ref": "#/components/schemas/MultiPart"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/certificates/{id}": {
			"get": {
				"operationId": "exportCertificate",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "password",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "exportSSHPublicKey",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "exportPrivateKey",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"multipart/mixed": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteCertificate_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "certificateExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "updateCertificateAccess_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"*/*": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/certificates/requests": {
			"get": {
				"operationId": "getCertificateRequests_1",
				"parameters": [
					{
						"name": "usage",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "generateCertificateRequest_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalCertificateRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"multipart/mixed": {}
						}
					}
				}
			}
		},
		"/certificates/requests/{id}": {
			"get": {
				"operationId": "getCertificateRequest_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "completeCertificateRequest_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"required": [
									"alias",
									"certificateFile"
								],
								"type": "object",
								"properties": {
									"alias": {
										"type": "string"
									},
									"certificateFile": {
										"type": "object"
									}
								}
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteCertificateRequest_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "certificateRequestExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/zones": {
			"get": {
				"operationId": "getDmzZones_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createZone_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalZone"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/zones/{name}": {
			"get": {
				"operationId": "getDmzZone_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateZone_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalZone"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteZone_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "zoneExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateZone_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/loginRestrictionPolicies": {
			"get": {
				"operationId": "getPolicies_1",
				"parameters": [
					{
						"name": "name",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "orderByName",
						"in": "query",
						"schema": {
							"type": "string",
							"default": "ascending"
						}
					},
					{
						"name": "nameMatchMode",
						"in": "query",
						"schema": {
							"type": "string",
							"default": "EXACT"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createPolicy_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalLoginRestrictionPolicy"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/loginRestrictionPolicies/{name}": {
			"get": {
				"operationId": "getPolicy_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updatePolicyProperties_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalLoginRestrictionPolicy"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deletePolicy_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "policyExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdatePolicy_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/logs/audit": {
			"get": {
				"operationId": "getOrExportAuditLogEntries_1",
				"parameters": [
					{
						"name": "fromDate",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "userName",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"text/csv": {}
						}
					}
				}
			}
		},
		"/logs/audit/{id}": {
			"get": {
				"operationId": "getAuditLogEntry_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateAuditLogEntryDescription_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalAuditLogEntry"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/logs/server": {
			"get": {
				"operationId": "getServerLogEntries_1",
				"parameters": [
					{
						"name": "fromDate",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "message",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "component",
						"in": "query",
						"schema": {
							"uniqueItems": true,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"text/csv": {}
						}
					}
				}
			}
		},
		"/logs/server/{id}": {
			"get": {
				"operationId": "getServerLogEntry_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/logs/transfers": {
			"get": {
				"operationId": "getTransfers_1",
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "resubmitted",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "startTimeBefore",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "startTimeAfter",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "endTimeBefore",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "endTimeAfter",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "filename",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "account",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "loginName",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "site",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operationIndex",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "userClass",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "transferId",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "cycleId",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "actionBy",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "application",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "direction",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"text/csv": {}
						}
					}
				}
			}
		},
		"/logs/transfers/{id}": {
			"get": {
				"operationId": "getTransfer_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/logs/transfers/{id}/operations": {
			"post": {
				"operationId": "transferOperations_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Id"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/mailTemplates": {
			"get": {
				"operationId": "getMailTemplates_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createTemplate_1",
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"required": [
									"file",
									"name"
								],
								"type": "object",
								"properties": {
									"file": {
										"$ref": "#/components/schemas/FormDataContentDisposition"
									},
									"description": {
										"type": "string"
									},
									"name": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/mailTemplates/{name}": {
			"get": {
				"operationId": "getMailTemplate",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"application/xhtml+xml": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateTemplate_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"required": [
									"file"
								],
								"type": "object",
								"properties": {
									"file": {
										"$ref": "#/components/schemas/FormDataContentDisposition"
									},
									"description": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteMailTemplate",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "isMailTemplateExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/myself": {
			"get": {
				"operationId": "getAccount",
				"parameters": [
					{
						"name": "Accept-Language",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "token",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "loginUser",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "logoutUser",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/routeStepsCharsets": {
			"get": {
				"operationId": "getAvailableCharsets_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/routeStepsMetadata": {
			"get": {
				"operationId": "getRouteStepsMetadata_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/routes": {
			"get": {
				"operationId": "getRoutes_1",
				"parameters": [
					{
						"name": "businessUnit",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "referredByRoute",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createRoute_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalRoute"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/routes/{id}": {
			"get": {
				"operationId": "getRoute_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateRoute_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalRoute"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteRoute_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "routeExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchRoute_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/sessions": {
			"get": {
				"operationId": "getSessions_1",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "type",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "localDaemonReturn",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/sessions/{id}": {
			"get": {
				"operationId": "getSession_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "killSession_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "localDaemonReturn",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/sessions/statistics/bandwidth": {
			"get": {
				"operationId": "readBandwidthInfoByLogin_1",
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/sessions/statistics/userClass": {
			"get": {
				"operationId": "getSessionsInfo_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/sites": {
			"get": {
				"operationId": "getSites_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createSite_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseSite"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/sites/{id}": {
			"get": {
				"operationId": "getSite_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateSiteProperties_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseSite"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteSite_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "siteExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateSiteProperties_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/sites/operations": {
			"post": {
				"operationId": "testConnection_2",
				"parameters": [
					{
						"name": "operation",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalConnection"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/siteTemplates": {
			"get": {
				"operationId": "getSiteTemplates_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createSiteTemplate_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseSiteTemplate"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/siteTemplates/{id}": {
			"get": {
				"operationId": "getSiteTemplate_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateSiteTemplate_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseSiteTemplate"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteSiteTemplate_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "siteTemplateExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateSiteTemplate_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/transferProfiles": {
			"get": {
				"operationId": "getTransferProfiles_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createTransferProfile_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalTransferProfile"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/transferProfiles/{id}": {
			"get": {
				"operationId": "getTransferProfile_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateTransferProfile_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalTransferProfile"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteTransferProfile_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "transferProfileExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateTransferProfile_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/transfers/operations": {
			"post": {
				"operationId": "serverOperations",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseTransfer"
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/subscriptions": {
			"get": {
				"operationId": "getSubscriptions_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createSubscription_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseSubscription"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/subscriptions/{id}": {
			"get": {
				"operationId": "getSubscription_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateSubscription_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseSubscription"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteSubscription_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "purge",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "subscriptionExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchSubscription_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/version": {
			"get": {
				"operationId": "getSTVersion_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/addressBook/sources": {
			"get": {
				"operationId": "getAddressBookSources_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/addressBook/sources/{id}": {
			"get": {
				"operationId": "getAddressBookSource_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateAddressBookSource_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalAddressBookGlobalSource"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "addressBookSourceExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateAddressBookSource_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/userClasses": {
			"get": {
				"operationId": "getUserClasses_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createUserClass_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalUserClass"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/userClasses/{id}": {
			"get": {
				"operationId": "getUserClass_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateUserClass_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalUserClass"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteUserClass_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "userClassExists_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateUserClass_1",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/administrators": {
			"get": {
				"operationId": "getAdministrators_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createAdministrator_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalAdministrator"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/administrators/{name}": {
			"get": {
				"operationId": "getAdministrator_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateAdministrator_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalAdministrator"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteAdministrator_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "administratorExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateAdmin_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/administrativeRoles": {
			"get": {
				"operationId": "getAdministrativeRoles_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createAdministrativeRole_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalAdministrativeRole"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/administrativeRoles/{name}": {
			"get": {
				"operationId": "getAdministrativeRole_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateAdministrativeRole_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalAdministrativeRole"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteAdministrativeRole_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "targetRoleName",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"head": {
				"operationId": "administrativeRoleExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateRole_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/servers": {
			"get": {
				"operationId": "getServers_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "createServer_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseServerConfiguration"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/servers/{name}": {
			"get": {
				"operationId": "getServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseServerConfiguration"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteServer_2",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "serverExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateServer_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/servers/operations": {
			"post": {
				"operationId": "serverOperation_1",
				"parameters": [
					{
						"name": "serverName",
						"in": "query",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					},
					{
						"name": "timeout",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/daemons": {
			"get": {
				"operationId": "getDaemonsStatus_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/daemons/operations": {
			"post": {
				"operationId": "daemonOperation_1",
				"parameters": [
					{
						"name": "daemon",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "timeout",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "graceful",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/statisticsSummary/generateReport": {
			"get": {
				"operationId": "generateStatisticsSummariesReport",
				"parameters": [
					{
						"name": "startDate",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/clusterServices": {
			"get": {
				"operationId": "getServiceStatus_1",
				"parameters": [
					{
						"name": "serviceName",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/clusterServices/operations": {
			"post": {
				"operationId": "clusterServiceOperation_1",
				"parameters": [
					{
						"name": "serviceName",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/transactionManager": {
			"get": {
				"operationId": "getStatus",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/transactionManager/operations": {
			"post": {
				"operationId": "stopGracefully",
				"parameters": [
					{
						"name": "timeout",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "graceful",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/options": {
			"get": {
				"operationId": "getOptions_1",
				"parameters": [
					{
						"name": "name",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "readOnly",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "isLocal",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/options/{name}": {
			"get": {
				"operationId": "getOption_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"head": {
				"operationId": "optionExists_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "updateOptionValue_1",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/database": {
			"get": {
				"operationId": "getDatabaseConfiguration_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateDatabaseConfigurations_1",
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"required": [
									"password",
									"username"
								],
								"type": "object",
								"properties": {
									"username": {
										"type": "string"
									},
									"password": {
										"type": "string"
									},
									"host": {
										"type": "string"
									},
									"port": {
										"type": "string"
									},
									"databaseName": {
										"type": "string"
									},
									"useCustomJdbcUrl": {
										"type": "boolean"
									},
									"jdbcUrlTemplate": {
										"type": "string"
									},
									"secureConnectionEnabled": {
										"type": "boolean"
									},
									"enabledProtocols": {
										"type": "string"
									},
									"serverCertificateDn": {
										"type": "string"
									},
									"certificateFile": {
										"$ref": "#/components/schemas/FormDataContentDisposition"
									},
									"enabledCipherSuites": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/database/{componentType}": {
			"get": {
				"operationId": "getDatabaseConfigurations_1",
				"parameters": [
					{
						"name": "componentType",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateDatabaseConfigurations",
				"parameters": [
					{
						"name": "componentType",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"required": [
									"host",
									"password",
									"port",
									"username"
								],
								"type": "object",
								"properties": {
									"username": {
										"type": "string"
									},
									"password": {
										"type": "string"
									},
									"host": {
										"type": "string"
									},
									"port": {
										"type": "string"
									},
									"databaseName": {
										"type": "string"
									},
									"useCustomJdbcUrl": {
										"type": "boolean"
									},
									"jdbcUrlTemplate": {
										"type": "string"
									},
									"secureConnectionEnabled": {
										"type": "boolean"
									},
									"enabledProtocols": {
										"type": "string"
									},
									"serverCertificateDn": {
										"type": "string"
									},
									"certificateFile": {
										"$ref": "#/components/schemas/FormDataContentDisposition"
									},
									"enabledCipherSuites": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/database/operations": {
			"post": {
				"operationId": "databaseConfigurationOperation",
				"parameters": [
					{
						"name": "operation",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "numberOfPartitions",
						"in": "query",
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"properties": {
									"username": {
										"type": "string"
									},
									"password": {
										"type": "string"
									},
									"host": {
										"type": "string"
									},
									"port": {
										"type": "string"
									},
									"databaseName": {
										"type": "string"
									},
									"useCustomJdbcUrl": {
										"type": "boolean"
									},
									"jdbcUrlTemplate": {
										"type": "string"
									},
									"secureConnectionEnabled": {
										"type": "boolean"
									},
									"serverCertificateDn": {
										"type": "string"
									},
									"enabledProtocols": {
										"type": "string"
									},
									"enabledCipherSuites": {
										"type": "string"
									},
									"certificateFile": {
										"$ref": "#/components/schemas/FormDataContentDisposition"
									}
								}
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/sentinel": {
			"get": {
				"operationId": "getSentinelConfig_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateSentinelConfig_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalSentinelConfiguration"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateSentinelConfig_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/loginSettings": {
			"get": {
				"operationId": "getLoginSettings_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateLoginSettings_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalBaseBackendLoginSettings"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateLoginSettings_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/allowedSTServers": {
			"get": {
				"operationId": "getAllowedSTServers_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateAllowedSTServers_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"properties": {
									"empty": {
										"type": "boolean"
									}
								},
								"items": {
									"type": "string"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateAllowedSTServers_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/keystorePassword": {
			"put": {
				"operationId": "changeKeystorePassword_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalKeystorePassword"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/fileArchiving": {
			"get": {
				"operationId": "getFileArchivingConfig_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateFileArchivingConfig_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalFileArchivingConfiguration"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateFileArchivingConfig_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/clusterManagement": {
			"get": {
				"operationId": "getServersInfo",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"post": {
				"operationId": "addServer_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalServerAddress"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/clusterManagement/{serverAddress}": {
			"get": {
				"operationId": "getServerInfo",
				"parameters": [
					{
						"name": "serverAddress",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteServer_1",
				"parameters": [
					{
						"name": "serverAddress",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "serverAddressExist",
				"parameters": [
					{
						"name": "serverAddress",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			}
		},
		"/configurations/clusterManagement/nodeThreshold": {
			"get": {
				"operationId": "getNodeThreshold_1",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {}
						}
					}
				}
			},
			"put": {
				"operationId": "updateNodeThreshold_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalNodeThreshold"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"patch": {
				"operationId": "partiallyUpdateNodeThreshold_1",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/clusterManagement/{serverAddress}/operations": {
			"post": {
				"operationId": "bounceServer_1",
				"parameters": [
					{
						"name": "serverAddress",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "operation",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/configurations/clusterManagement/operations": {
			"post": {
				"operationId": "serverOperations_1",
				"parameters": [
					{
						"name": "operation",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/accountSetup": {
			"post": {
				"operationId": "createFlows",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExternalFlow"
							}
						}
					},
					"required": true
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"multipart/mixed": {}
						}
					}
				}
			}
		},
		"/accountSetup/{name}": {
			"get": {
				"operationId": "getAccountSetup",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"application/json": {},
							"multipart/mixed": {}
						}
					}
				}
			}
		},
		"/cs/h2h/data/{pkgId}/{attId}": {
			"get": {
				"operationId": "download",
				"parameters": [
					{
						"name": "pkgId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "attId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"put": {
				"operationId": "upload",
				"parameters": [
					{
						"name": "Content-MD5",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pkgId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "attId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "checkUpload",
				"parameters": [
					{
						"name": "pkgId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "attId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/data": {
			"head": {
				"operationId": "authenticate",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/control/packages/attrs/uid/{uid}": {
			"get": {
				"operationId": "getPackageInfoByUid",
				"parameters": [
					{
						"name": "uid",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "includeAttachments",
						"in": "query",
						"schema": {
							"type": "boolean",
							"default": true
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/control/packages/{packageId}/ops/downloadHistory": {
			"get": {
				"operationId": "getPackageDownloadHistory",
				"parameters": [
					{
						"name": "CommunityId",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "packageId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/control/packages": {
			"post": {
				"operationId": "createPackage",
				"parameters": [
					{
						"name": "CommunityId",
						"in": "header",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"*/*": {
							"schema": {
								"$ref": "#/components/schemas/PackageCreationRequest"
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			},
			"head": {
				"operationId": "isPackageResourceAvailable",
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/control/packages/ops/delete": {
			"post": {
				"operationId": "deletePackages",
				"parameters": [
					{
						"name": "CommunityId",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "useUids",
						"in": "query",
						"schema": {
							"type": "boolean",
							"default": false
						}
					}
				],
				"requestBody": {
					"content": {
						"*/*": {
							"schema": {
								"$ref": "#/components/schemas/PackageDeletionRequest"
							}
						}
					}
				},
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/control/packages/{packageId}/ops/cancel": {
			"post": {
				"operationId": "cancelPackage",
				"parameters": [
					{
						"name": "packageId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
				}
			}
		},
		"/cs/h2h/control/packages/{packageId}": {
			"get": {
				"operationId": "getPackageInfo",
				"parameters": [
					{
						"name": "CommunityId",
						"in": "header",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "packageId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "includeAttachments",
						"in": "query",
						"schema": {
							"type": "boolean",
							"default": true
						}
					}
				],
				"responses": {
					"default": {
						"description": "default response",
						"content": {
							"*/*": {}
						}
					}
[...]
